<!DOCTYPE html>
<html ng-app="main">
<head>
  <title> A short angular demo for 3601 </title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="todo.css"/>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script src="angularModules.js"></script>
  <script src="todo.controller.js"></script>
</head>

<body>
  <div id="header">
    <header>
      <h1> 3601 Software Design and Development </h1>
      <h5> Short angular demo </h5>
    </header>
  </div>

  <div class="section">
    <div>
      <h2>Info</h2>
      <h4>
        This basic HTML site is to be used as an example of how to use Angular and Bootstrap
        to make websites look nice, without spending years of your life scouring stackoverflow posts
        looking for a way to center things!
      </h4>
    </div>
  </div>

  <div class="section" ng-controller="todoController as instanceOfController">
    <div>
      <h2> TODO list </h2>
      <ul>
        <li class="todoItem" ng-repeat="todo in instanceOfController.todos">
         <input type="checkbox" ng-model="todo.done">
         <span>{{todo.item}}</span>
        </li>
    </ul>
  
    <form ng-submit="instanceOfController.addTodo()">
       <input ng-model="instanceOfController.todoText" type="text" size="30" placeholder="add new todo item here">
      <input type="submit" value="add">
      </form>
    </div>
  </div>

  <div id="footer">
    <footer>
      <h4> This website is intended to be a short demo on why we would use Angular.js </h4>
      <h4> This is a footer </h4>
    </footer> 
  </div>
 
  


</body>
</html>
